*{
    margin: 0;
    padding: 0;
}
.header{
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 172, 213);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px;
}
.cardh1{
    text-transform: capitalize;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    height: auto;
    width: 30%;
    margin-top: 20px;
    border: 5px solid blue;
    transition:200ms;
    
}
img:hover{
    box-shadow: 30px 30px 100px rgb(110, 110, 110);
    scale: 1.02;
}
